<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liminghua.api.system.mapper.ApiMapper">
    <resultMap id="ApiMap" type="com.liminghua.api.system.entity.Api">
        <id property="id" column="id" />
        <result property="apiName" column="api_name" />
        <result property="apiUrl" column="api_url" />
        <result property="apiSwitch" column="api_switch" />
        <result property="apiDescription" column="api_description" />
        <result property="apiMethod" column="api_method" />
        <result property="apiClassName" column="api_class_name" />
        <result property="apiType" column="api_type" />
    </resultMap>
    <select id="getAllInterfaceFromDb"  resultMap="ApiMap">
        select * from api
    </select>
    <insert id="insertInterface" parameterType="com.liminghua.api.system.entity.Api">
        insert into api
        (api_url,
        api_switch,
        api_method,
        api_class_name,
        api_type,
        api_tag_id
        )
        values
        (#{apiUrl},
        #{apiSwitch},
        #{apiMethod},
        #{apiClassName},
        #{apiType},
        1
        )
    </insert>
    <select id="getInterfaceByUrl"  resultMap="ApiMap">
        select * from api where api_url = #{0}
    </select>
</mapper>
